<ion-view view-title="" class="usual-background" hide-tabs="true" ng-controller="benefitMoreCtrl">
  <ion-nav-bar class="navbar-bg bar-transparent">
    <ion-nav-buttons side="left">
      <a href="#/home" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="benefit-more-grid" ng-style="{'height' : '{{fullHeight}}px - 200'}">
          <!-- <ion-refresher pulling-text="下拉刷新" on-refresh="freshbenefit()"></ion-refresher> -->

          <!--<div ui-grid="{data:myData }" class="myGrid" ng-style="{'height' : '{{fullHeight - 317}}px'}"></div>-->
          <!-- ng-style='{"height":"{{gridContentHeight}}"}'-->
          <ul class="benefit-more-table-head">
            <li class="benefit-more-table-title-name">名称</li>
            <li class="benefit-more-table-title-address">地址</li>
            <li class="benefit-more-table-title-time">日期</li>
            <li class="benefit-more-table-title-type">类型</li>
            <li class="benefit-more-table-title-amount">数量</li>
          </ul>

          <div class="benefit-more-table" ng-style="{'height' : '{{fullHeight - 255}}px'}">
            <div class="benefit-more-item" ng-repeat="be in benefit.benefits">
              <div class="benefit-more-item-name">{{be.username}}</div>
              <div class="benefit-more-item-time">{{be.timestamp | timestampFilter | dateDiffFilter}}</div>
              <div class="benefit-more-item-type">{{be.type | balanceTypeFilter}}</div>
              <div class="benefit-more-item-amount">{{be.amountFixed}}</div>
              <div class="benefit-more-item-address">{{be.address}}</div>
              <!-- ifc-benefit-address-show -->
            </div>
          </div>

          <ul class="benefit-more-page">
            <!-- <li class="benefit-more-page-item" ng-repeat="pg in transaction.pageArr track by $index" ng-click="getTransactionsByPage($index, 10)">{{$index+1}}</li> -->
            <li class="benefit-more-page-prev" ng-hide="benefit.current == 0" ng-click="prevPage(10)">上一页</li>
            <li class="benefit-more-page-show" ng-hide="benefit.current == 0">{{benefit.current+1}}/{{benefit.page}}</li>
            <li class="benefit-more-page-next" ng-hide="benefit.current+1 == benefit.page" ng-click="nextPage(10)">下一页</li>
          </ul>
        </div>
  </ion-content>
</ion-view>
