<ion-view class="animated usual-background" on-drag-left="onDrag('ifcInfo', left)" hide-nav-bar="true" ng-controller="homeCtrl" hide-back-button="true">
    <ion-content class="home-bg-btm">
      <div class="ifc-smoke"><img src="../images/ifmt/home/smoke.png" alt="" /></div>
        <!--<p>-->
        <!--<a class="button icon icon-right ion-chevron-right" href="#/facts">Scientific Facts</a>-->
        <!--</p>-->
        <!--<div class="scrollable">-->
        <!--<div class="scrollable-content panel text-wrap">-->
      <div class="ifc-title"></div>

        <div class="row ifc-price-container">
          <div class="col text-center">
            <div class="ifc-current-price-container">
              <img src="../images/ifmt/gp-icon.png" class="ifc-icon-a" />
              <img src="../images/ifmt/arrow.png" class="ifc-icon-up" />
              <span class="ifc-current-price">{{balanceCNY}}</span>
              <span class="ifc-current-price-unit">USD</span>
            </div>

            <div class="ifc-current-coin-container">
              <span class="ifc-coin-name">IBT</span>
              <span>{{'Remaining Quantity' | translate}}：{{balance}}</span>
            </div>

            <div class="ifm-grid-title ifm-grid-trade" ng-class="grid.switch === true ? 'ifm-grid-selected' : ''" ng-click="switchGrid('trade')">
              {{'Latest Transactions' | translate}}
            </div>
            <div class="ifm-grid-title ifm-grid-benefit" ng-class="grid.switch === false ? 'ifm-grid-selected' : ''" ng-click="switchGrid('benefit')">
              {{'Account Earnings' | translate}}
            </div>
          </div>
        </div>


        <div class="ifc-trade-grid" ng-style="{'height' : '{{fullHeight - 317}}px'}" ng-show="grid.switch">
          <!-- <ion-refresher pulling-text="下拉刷新" on-refresh="freshTrade()"></ion-refresher> -->

          <!--<div ui-grid="{data:myData }" class="myGrid" ng-style="{'height' : '{{fullHeight - 317}}px'}"></div>-->
          <!-- ng-style='{"height":"{{gridContentHeight}}"}'-->
          <ul class="ifc-trade-table-head">
            <!--<li class="ifc-trade-table-title-type">类型</li>-->
            <li class="ifc-trade-table-title-address">{{'Account name or Address' | translate}}</li>
            <li class="ifc-trade-table-title-time">{{'Time' | translate}}</li>
            <li class="ifc-trade-table-title-amount">{{'Amount' | translate}}</li>
          </ul>
          <div class="ifc-trade-table" ng-style="{'height' : '{{fullHeight - 317  - 45}}px'}">
            <div ng-repeat="ta in transactions" class="ifc-trade-item" ng-class="ta.showTime === true? 'ifc-trade-show-time': ''">
              <!--<div class="ifc-trade-item-type">转入</div>-->
              <div class="ifc-trade-item-address" ng-click="ta.showTime = !ta.showTime">{{ta.recipientName}}</div>
              <div class="ifc-trade-amount"><span class="ifc-trade-pm">{{ta.plusMinus}}</span>{{ta.amountFixed}}</div>
              <div class="ifc-trade-time" ng-class="ta.showTime === true? 'ifc-trade-time-show': ''">{{ta.timestamp | timestampFilter | dateDiffFilter}} — {{ta.timestamp | timestampFilter}}</div>
              <div class="ifc-trade-fee">( {{ta.fee | noEulerNumberFilter}} )</div>
            </div>

            <div class="ifc-trade-item" ng-if="transactions.length > 9">
              <a href="#/home/tradeMore"><div class="ifc-trade-more-btn">{{'More' | translate}}</div></a>
            </div>

            <div class="clearfloat"></div>
          </div>
        </div>

        <div class="ifc-benefit-grid" ng-style="{'height' : '{{fullHeight - 317}}px'}"  ng-show="!grid.switch">
          <ul class="ifc-benefit-table-head">
            <li class="ifc-benefit-table-title-name">{{'Name' | translate}}</li>
            <li class="ifc-benefit-table-title-address">{{'Address' | translate}}</li>
            <li class="ifc-benefit-table-title-time">{{'Time' | translate}}</li>
            <li class="ifc-benefit-table-title-type">{{'Type' | translate}}</li>
            <li class="ifc-benefit-table-title-amount">{{'Amount' | translate}}</li>
          </ul>

          <div class="ifc-benefit-table" ng-style="{'height' : '{{fullHeight - 317  - 45}}px'}">
            <div class="ifc-benefit-item" ng-repeat="be in benefits">
              <div class="ifc-benefit-item-name">{{be.username ? be.username : '-'}}</div>
              <div class="ifc-benefit-item-time">{{be.timestamp | timestampFilter | dateDiffFilter}}</div>
              <div class="ifc-benefit-item-type">{{be.type | balanceTypeFilter}}</div>
              <div class="ifc-benefit-item-amount">{{be.amountFixed}}</div>
              <div class="ifc-benefit-item-address">{{be.address}}</div>
              <!-- ifc-benefit-address-show -->
            </div>

            <div class="ifc-benefit-item" ng-if="benefits.length > 9">
              <a href="#/home/benefitMore"><div class="ifc-benefit-more-btn">{{'More' | translate}}</div></a>
            </div>

            <div class="clearfloat"></div>
          </div>
          
        </div>

        <!--</div>-->
        <!--</div>-->
    </ion-content>
</ion-view>
