<ion-view view-title="" class="animated usual-background" scroll-height ng-controller="chainCtrl" hide-back-button="true" hide-nav-bar="true">
  <!-- on-drag-left="onDrag('contact', left)" on-drag-right="onDrag('index', right)"-->
  <ion-content>
    <div class="chain-top-space"></div>
    <div class="chain-tab-container">
      <ul>
        <li class="chain-tab-list-item" ng-class="chainSelected === 0 ? 'chain-tab-list-item-focus': 'chain-tab-list-blur'" ng-click="chainTabClick(0)"><span>{{'Summary' | translate}}</span></li>
        <li class="chain-tab-list-item" ng-class="chainSelected === 1 ? 'chain-tab-list-item-focus': 'chain-tab-list-blur'" ng-click="chainTabClick(1)"><span>{{'Blockchain' | translate}}</span></li>
        <li class="chain-tab-list-item" ng-class="chainSelected === 2 ? 'chain-tab-list-item-focus': 'chain-tab-list-blur'" ng-click="chainTabClick(2)"><span>{{'Transaction' | translate}}</span></li>
      </ul>
    </div>
    <ion-slides class="has-header" slider="data.slider" pager="false" loop="true" options="blockChainOpt" on-slide-changed="slideChanged($index)" delegate-handle="blockChainSlider" ng-style="{'height': '{{fullHeight-150}}px'}">
    <!-- on-slide-changed="slideChanged($index)"-->
      <ion-slide-page>
        <div class="chain-slide" style="width:100%;height:100%;">
          <ion-pane class="padding chain-newest-info">
              <!--<div class="ifmc-release">
                <div class="ifmc-release-container">
                  <progress-circle></progress-circle>
                  <img src="../images/ifmt/chain/rainbow-circle.png" alt="" class="ifmc-release-circle" />
                  <div class="ifmc-release-content">
                    <span class="ifmc-release-amount">26000</span>
                    <span class="ifmc-release-unit">IFMC</span>
                    <span class="ifmc-release-tip">已发行token数量</span>
                  </div>
                </div>
              </div>
              <svg class="chain-dashed" viewBox="0 0 40 5">
                <path id="chain-dashed-line" stroke-width="0.2" d="M 0 0 L 40 0"></path>
              </svg>
                <div class="left-trig"></div>
                <div class="right-trig"></div>
              <div class="ifmc-info">
                <div class="ifmc-info-container">
                  <div class="ifmc-info-amount-container">
                    <span>待确认交易数量</span>
                    <span>103,000.457</span>
                  </div>
                  <div class="ifmc-info-bene-container">
                    <span>DPOS总权益</span>
                    <span>4.96 EH/s</span>
                  </div>
                  <div class="ifmc-info-difficult-container">
                    <span>难度</span>
                    <span>711,697,198,173 - 711.70 G</span>
                  </div>
                </div>
              </div>-->
            <div class="ifmt-my-ifmt-container">
              <div class="ifmt-my-ifmt-circle-container">
                <div class="ifmt-my-ifmt-circle">
                  <progress-circle></progress-circle>
                </div>
                <div class="ifmt-my-ifmt-wave">
                  <progress-wave ng-if="userData.autoDig" ng-click="cancelDig()"></progress-wave>
                  <div class="ifmt-my-ifmt-dig-no" ng-if="!userData.autoDig" ng-click="startDig()"></div>
                </div>

                <div class="ifmt-my-ifmt-percent-container" ng-if="userData.autoDig">
                  <p class="ifmt-my-ifmt-title">{{'Progress' | translate}}</p>
                  <div class="ifmt-my-ifmt-percent" ng-click="cancelDig()">{{roundProgress}}%</div>
                </div>
              </div>
            </div>

            <!-- <div class="ifmt-my-ifmt-switch" ng-class="userData.autoDig ? '' : 'ifmt-my-no-dig'">
              <div class="ifmt-my-ifmt-dig-no" ng-if="!userData.autoDig">
                <button id="ifmt-my-ifmt-dig-no" ng-click="startDig()">开启自动挖矿</button>
              </div>
              <div class="ifmt-my-ifmt-dig" ng-if="userData.autoDig">
                <button id="ifmt-my-ifmt-dig" ng-click="cancelDig()">自动挖矿中…</button>
              </div>
            </div> -->

          </ion-pane>
          <chain-swiper></chain-swiper>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="chain-newest-block-container" style="width:100%;height:100%;" >
            <ul class="chain-newest-block-title">
              <li class="chain-newest-block-title-item">{{'Height' | translate}}</li>
              <li class="chain-newest-block-title-item">{{'Total' | translate}}</li>
              <li class="chain-newest-block-title-item">{{'FEE' | translate}}</li>
              <li class="chain-newest-block-title-item">{{'Reward' | translate}}</li>
              <li class="chain-newest-block-title-item">{{'Time' | translate}}</li>
            </ul>

            <!-- <div class="chain-newest-mine-title">我的区块</div>
            <a href="#/blockChain/blockDetail"><div class="chain-newest-my-block-list">
              <div class="chain-newest-block-item">
                <div class="chain-hash-detail"><div>0123456789abcdefghi</div><div class="down-trig"></div></div>
                <ul class="chain-newest-block-content">
                  <li class="chain-newest-block-content-item">1145</li>
                  <li class="chain-newest-block-content-item">1120</li>
                  <li class="chain-newest-block-content-item">1.12</li>
                  <li class="chain-newest-block-content-item">35</li>
                  <li class="chain-newest-block-content-item">12min 前</li>
                </ul>
              </div>
            </div></a> -->

          <div class="chain-newest-all-title">{{'Lastest Blocks' | translate}}</div>
            <div class="chain-newest-block-list" style="height: {{fullHeight - 240}}px">
              <div class="chain-newest-block-item" ng-repeat="bl in blocks">
                <ul class="chain-newest-block-content">
                  <li class="chain-newest-block-content-item" ng-click="showBlock(bl)">{{bl.height}}</li>
                  <li class="chain-newest-block-content-item">{{bl.rewardName}}</li>
                  <li class="chain-newest-block-content-item">{{bl.totalFeeName}}</li>
                  <li class="chain-newest-block-content-item">{{bl.totalForgedName}}</li>
                  <li class="chain-newest-block-content-item">{{bl.timestamp | timestampFilter | dateDiffFilter}}</li>
                </ul>

                
              </div>

              <div class="chain-newest-block-item">
                <ul class="chain-newest-block-content">
                  <a href="#/blockChain/blockMore"><li class="chain-newest-block-more">{{'More' | translate}}</li></a>
                </ul>
              </div>
              

            </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="chain-trade-container" style="width:100%;height:100%; overflow-y: scroll;">
            <div class="chain-trade-item" ng-repeat = "tr in trades">
              <div class="chain-trade-title">
                <span class="chain-trade-date">{{tr.timestamp | timestampFilter | dateDiffFilter}}</span>
                <span class="chain-trade-amount">{{'TradeNumber' | translate}} <span>{{tr.amount | noEulerNumberFilter}}</span></span>
                <!--<span class="chain-trade-fee">含0.001手续费</span>-->
              </div>

              <div class="chain-trade-content" ng-click="showTrade(tr)">
                <a href="#/blockChain/tradeDetail"><div class="chain-trade-addr">
                  {{tr.recipientUsername ? tr.recipientUsername : tr.recipientId}}
                  <br>
                  {{tr.senderUsername ? tr.senderUsername : tr.senderId}}
                </div></a>
                <div class="chain-trade-operate">
                  <!-- <img src="../images/ifmt/chain/undo-icon.png" alt=""> -->
                </div>

                <!-- <div class="chain-trade-remark">
                  <input type="text" class="chain-trade-remark-input" placeholder="无备注" />
                  <div class="chain-trade-remark-input">无备注</div>
                </div> -->
                <div class="chain-trade-fee-btm">{{'Include' | translate}}{{tr.fee | noEulerNumberFilter}}{{'FEE' | translate}}</div>
              </div>
            </div>

          </div>
      </ion-slide-page>
    </ion-slides>
    <!--<ion-slide-box class="has-header" style="height:500px;" on-slide-changed="slideChanged($index)" slider="data.slider" delegate-handle="blockChainSlider">
      <ion-slide>
        <div style="width:100%;height:100%; background:blue;"></div>
        <ion-pane class="padding">
          <div class="card" style="height:90%;">
            <div class="ifmc-release">
              <div class="ifmc-release-container">

              </div>
            </div>
            <div class="ifmc-info">
              <div class="ifmc-info-container">

              </div>
            </div>
          </div>
        </ion-pane>
      </ion-slide>
      <ion-slide>
        <ion-pane>
          <div class="row ifc-trade-grid">
            <div ui-grid="{data:myData }" class="myGrid" ng-style='{"height":"{{blockChainTableHeight}}"}'></div>
          </div>
        </ion-pane>
      </ion-slide>
      <ion-slide style="overflow-y:scroll">
        &lt;!&ndash;<ion-scroll class="scrollable">&ndash;&gt;
        <div class="card" ng-repeat="c in cards">
          <div class="item item-divider">
            <div class="pull-left"><small>{{c.date}}</small></div>
            <div class="pull-right"><small>交易数量{{c.amount}}</small></div>
          </div>
          <div class="item item-divider">
            {{c.address}}
          </div>
        </div>
        &lt;!&ndash;</ion-scroll>&ndash;&gt;
      </ion-slide>、、
    </ion-slide-box>-->
  </ion-content>
  <!--<ion-tabs class="tabs-striped tabs-top" delegate-handle="blockChainTab">-->
    <!--<ion-tab title="最新概况" on-select="blockChainTabSelected(1)"></ion-tab>-->
    <!--<ion-tab title="最新区块" on-select="blockChainTabSelected(2)"></ion-tab>-->
    <!--<ion-tab title="最新交易" on-select="blockChainTabSelected(3)"></ion-tab>-->
  <!--</ion-tabs>-->
</ion-view>
