<div class='chain-swiper-container'>
  <div class='swiper-container swiper-container-horizontal chain-swiper' id='chainSwiper'>
    <div class='swiper-wrapper'>
      <div class='swiper-slide chain-slide-1 chain-slide'>
        <div class='chain-slide-title'>本轮已挖矿数量</div>
        <div class='chain-slide-content'>26000.33221221</div>
      </div>
      <div class='swiper-slide chain-slide-2 chain-slide'>
        <div class='chain-slide-title'>本轮已挖矿数量</div>
        <div class='chain-slide-content'>26000.33221221</div>
      </div>
      <div class='swiper-slide chain-slide-3 chain-slide'>
        <div class='chain-slide-title'>本轮已挖矿数量</div>
        <div class='chain-slide-content'>26000.33221221</div>
      </div>
    </div>
    <div class='swiper-pagination'></div>
  </div>
</div>
