/**
 * Created by 俊杰 on 2017/7/20.
 */
/*
	定义通用变量
*/
/*
	定义通用class
*/
.bg-lighter {
  background: rgba(255, 255, 255, 0.1);
}
.bg-darker {
  background: rgba(0, 0, 0, 0.1);
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.lighter {
  -webkit-filter: brightness(1.5);
}
.center {
  margin: 0 auto;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.b {
  display: block;
}
.ib {
  display: inline-block;
}
.v-center {
  top: 50%;
  transform: translateY(-50%);
}
.h-center {
  left: 50%;
  transform: translateX(-50%);
}
.h-center-flex {
  display: flex;
  justify-content: center;
}
.ls1 {
  letter-spacing: 1px;
}
.bb {
  box-sizing: border-box;
}
.fix {
  *zoom: 1;
}
.fix:after,
.fix:before {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.z {
  _zoom: 1;
}
.clearfloat {
  clear: both;
}
.text-middle {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.chain-top-space {
  height: 40px;
}
.chain-tab-container {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: initial;
  box-sizing: box-sizing;
  padding: 0;
  margin: 0;
  color: initial;
  background: initial;
  font-size: inherit;
  margin-top: 0px;
}
.chain-tab-container ul li {
  width: 33%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  box-sizing: initial;
  padding: 0;
  margin: 0;
  color: #ffffff;
  background: initial;
  font-size: 1.3rem;
  float: left;
}
.chain-tab-container ul li.chain-tab-list-item-focus span {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 60px;
  box-sizing: border-box;
  letter-spacing: 0px;
  border-bottom: 3px solid #ff3;
  margin: 0 auto;
  transition: border 0.5s ease;
}
.chain-tab-container ul li.chain-tab-list-blur span {
  border-bottom-color: transparent;
}
.chain-slide {
  width: 100%;
  height: 100%;
  line-height: 100%;
  padding: 0;
  margin: 0;
  position: initial;
  background: none;
}
.chain-newest-info {
  position: relative;
  width: 96%;
  height: 96%;
  line-height: inerit;
  padding: inerit;
  margin: inherit;
  background: none;
  border-radius: 16px;
  color: inerit;
  box-sizing: inherit;
  margin-left: 2%;
  margin-top: 2%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.chain-newest-info .ifmt-my-ifmt-container {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  position: relative;
  transform-origin: center center;
}
.chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container {
  margin: 5vh 0;
}
.chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-circle {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-circle canvas {
  width: 380px;
  height: 380px;
}
.chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-wave {
  overflow: hidden;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  margin: 25px auto;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
}
.chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-wave canvas {
  width: 290px;
  height: 290px;
}
.chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-wave .ifmt-my-ifmt-dig-no {
  width: 100%;
  height: 100%;
  background: url('../../images/ifmt/chain/autoDig.png') no-repeat center center;
  background-size: cover;
}
.chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-percent-container {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  color: #fff;
  width: 100%;
}
.chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-percent-container .ifmt-my-ifmt-title {
  text-align: center;
  font-size: 1.8rem;
}
.chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-percent-container .ifmt-my-ifmt-percent {
  text-align: center;
  font-size: 6rem;
  margin-top: 8vh;
}
@media screen and (max-width: 320px) {
  .chain-newest-info .ifmt-my-ifmt-container {
    transform: scale(0.8) translateY(-20%);
    height: 216px;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container {
    margin: 0;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-circle canvas {
    width: 300px;
    height: 300px;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-wave {
    width: 210px;
    height: 210px;
    top: 20px;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-wave canvas {
    width: 210px;
    height: 210px;
  }
}
@media screen and (min-width: 321px) and (max-width: 413px) {
  .chain-newest-info .ifmt-my-ifmt-container {
    height: 290px;
    transform: scale(0.8) translateY(-20%);
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container {
    margin: 0;
  }
}
@media screen and (min-width: 414px) {
  .chain-newest-info .ifmt-my-ifmt-container {
    height: 320px;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container {
    margin: 3vh 0;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-circle canvas {
    width: 350px;
    height: 350px;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-wave {
    top: 0;
  }
  .chain-newest-info .ifmt-my-ifmt-container .chain-swiper-container {
    margin-top: 30px;
  }
}
@media screen and (min-width: 520px) {
  .chain-newest-info .ifmt-my-ifmt-container {
    height: 320px;
    transform: scale(1);
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-circle canvas {
    width: 320px;
    height: 320px;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-wave {
    width: 230px;
    height: 230px;
    top: 20px;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-wave canvas {
    width: 230px;
    height: 230px;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-percent-container {
    top: 9vh;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-percent-container .ifmt-my-ifmt-percent {
    margin-top: 6vh;
  }
}
@media screen and (min-width: 1000px) {
  .chain-newest-info .ifmt-my-ifmt-container {
    height: 360px;
    transform: scale(1.4);
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container {
    margin-top: 10vh;
  }
  .chain-newest-info .ifmt-my-ifmt-container .ifmt-my-ifmt-circle-container .ifmt-my-ifmt-percent-container {
    top: 6vh;
  }
}
.chain-newest-info .ifmt-my-ifmt-switch {
  width: 50vw;
  height: 4rem;
  line-height: 4rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: inherit;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #00ccff, #0ee5db);
  color: #fff;
  margin: 0 auto;
  border-radius: 2rem;
  transition: all 1s ease;
}
.chain-newest-info .ifmt-my-ifmt-switch.ifmt-my-no-dig {
  -webkit-filter: grayscale(1);
  color: #999;
}
.chain-newest-info .ifmt-my-ifmt-switch label {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.chain-newest-info .ifmt-my-ifmt-switch button {
  border: none;
  background: none;
  color: #fff;
}
@media screen and (min-width: 1000px) {
  .chain-newest-info .ifmt-my-ifmt-switch {
    margin: 4vh auto;
  }
}
.chain-newest-info .ifmt-my-ifmt-slider {
  width: 100%;
}
.ifmc-release {
  width: 100%;
  height: 70%;
  line-height: 70%;
  padding: 0;
  margin: 0;
  position: initial;
  background: none;
  /*background:url('../../images/ifmt/chain/rainbow-circle.png') no-repeat center center;
  background-size: 80%;*/
}
.ifmc-release-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid transparent;
}
.ifmc-release-container .ifmc-release-circle {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../../images/ifmt/chain/rainbow-circle-bg.png') no-repeat center center;
  background-size: cover;
}
.ifmc-release-container .ifmc-release-content {
  width: 100%;
  height: 100%;
  line-height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: initial;
  background: none;
}
.ifmc-release-container .ifmc-release-content .ifmc-release-amount {
  display: block;
  font-family: inherit;
  font-size: 4.2rem;
  color: #ffffff;
  font-weight: 400;
  text-indent: 0em;
  letter-spacing: 1px;
  text-align: center;
  margin: 90px 0 0 0;
}
.ifmc-release-container .ifmc-release-content .ifmc-release-unit {
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 400;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: center;
  margin: 32px 0 0 0;
}
.ifmc-release-container .ifmc-release-content .ifmc-release-tip {
  display: block;
  font-family: inherit;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 300;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: center;
  margin: 30px 0 0 0;
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .ifmc-release-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}
@media screen and (min-width: 375px) and (max-width: 413px) {
  .ifmc-release-container {
    width: 270px;
    height: 270px;
    border-radius: 50%;
  }
}
@media screen and (min-width: 414px) {
  .ifmc-release-container {
    width: 290px;
    height: 290px;
    border-radius: 50%;
  }
  .ifmc-release-container .ifmc-release-content .ifmc-release-amount {
    margin-top: 100px;
  }
  .chain-newest-info .ifmt-my-ifmt-switch {
    margin: 1rem auto;
  }
}
.ifmc-info {
  width: 100%;
  height: 30%;
  line-height: 30%;
  padding: 0;
  margin: -2.2rem 0 0 0;
  box-sizing: border-box;
  position: initial;
  background: none;
}
svg.chain-dashed {
  width: 100%;
  margin-top: 3px;
  transform: translateX(3px);
}
svg.chain-dashed path {
  stroke: #ccc;
}
svg.chain-dashed path#chain-dashed-line {
  stroke-dasharray: 1 1;
}
/*.left-trig {
  position: absolute;
  top:70%;
  transform: translateY(-50%);
  left:0;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 16px;
  width:0;
  height:0;
}

.right-trig {
  position: absolute;
  top:70%;
  transform: translateY(-50%);
  right:0;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 16px;
  width:0;
  height:0;
}*/
.ifmc-info-amount-container,
.ifmc-info-bene-container,
.ifmc-info-difficult-container {
  width: auto;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0.5rem 20px;
  position: initial;
  background: none;
}
.ifmc-info-amount-container span:first-child,
.ifmc-info-bene-container span:first-child,
.ifmc-info-difficult-container span:first-child {
  font-family: inherit;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: 1px;
  text-align: initial;
  margin: initial;
}
.ifmc-info-amount-container span:last-child,
.ifmc-info-bene-container span:last-child,
.ifmc-info-difficult-container span:last-child {
  font-family: inherit;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: 1px;
  text-align: right;
  margin: initial;
  float: right;
}
.chain-trade-container {
  width: 100%;
  height: 100%;
  line-height: 100%;
  padding: 10px;
  margin: 0;
  position: initial;
  background: none;
}
.chain-trade-container .chain-trade-item {
  width: 100%;
  height: auto;
  line-height: auto;
  padding: 0;
  margin: 20px 0;
  position: initial;
  background: none;
}
.chain-trade-container .chain-trade-item:first-child {
  margin-top: 0;
}
.chain-trade-container .chain-trade-item .chain-trade-title {
  width: 100%;
  height: 30px;
  line-height: 20px;
  padding: 5px 10px;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px 6px 0 0;
  color: inerit;
  box-sizing: border-box;
}
.chain-trade-container .chain-trade-item .chain-trade-title .chain-trade-date {
  font-family: inherit;
  font-size: 1.2rem;
  color: #eeeeee;
  font-weight: 200;
  text-indent: 0em;
  letter-spacing: 1px;
  text-align: left;
  margin: initial;
  float: left;
}
.chain-trade-container .chain-trade-item .chain-trade-title .chain-trade-fee {
  font-family: inherit;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 200;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: right;
  margin: initial;
  margin-right: 10px;
  float: right;
}
.chain-trade-container .chain-trade-item .chain-trade-title .chain-trade-amount {
  font-family: inherit;
  font-size: 1.2rem;
  color: #eeeeee;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: 1px;
  text-align: right;
  margin: initial;
  float: right;
}
.chain-trade-container .chain-trade-item .chain-trade-title .chain-trade-amount span {
  margin-left: 0.5rem;
  color: #f46;
}
.chain-trade-container .chain-trade-item .chain-trade-content {
  width: 100%;
  height: 110px;
  line-height: inerit;
  padding: 5px 10px;
  margin: 0;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0 0 10px 10px;
  color: inerit;
  box-sizing: border-box;
}
.chain-trade-container .chain-trade-item .chain-trade-content .chain-trade-addr {
  width: 100%;
  height: 70px;
  line-height: 23px;
  text-align: initial;
  box-sizing: initial;
  padding: 0;
  margin: 0;
  color: #ffffff;
  background: initial;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  float: left;
}
.chain-trade-container .chain-trade-item .chain-trade-content .chain-trade-operate {
  width: 0%;
  height: 70px;
  line-height: 70px;
  padding: 0;
  margin: 0;
  position: initial;
  background: none;
  float: left;
}
.chain-trade-container .chain-trade-item .chain-trade-content .chain-trade-operate img {
  width: 30px;
  display: block;
  float: right;
  margin-top: 20px;
}
.chain-trade-container .chain-trade-item .chain-trade-content .chain-trade-remark {
  width: 100%;
  margin: 0 auto;
}
.chain-trade-container .chain-trade-item .chain-trade-content .chain-trade-remark .chain-trade-remark-input {
  width: 100%;
  height: 40px;
  line-height: 20px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  position: initial;
  background: rgba(200, 200, 200, 0.1);
  font-family: inherit;
  font-size: 1.2rem;
  color: #cccccc;
  font-weight: 200;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: initial;
  margin: initial;
  border-radius: 6px;
  clear: both;
}
.chain-trade-container .chain-trade-item .chain-trade-content .chain-trade-fee-btm {
  font-family: inherit;
  font-size: inherit;
  color: rgba(222, 222, 222, 0.6);
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: 1px;
  text-align: initial;
  margin: 10px 0 0 3px;
}
.chain-newest-block-container {
  width: 100%;
  height: 100%;
  line-height: 100%;
  padding: 10px 0;
  margin: 0;
  position: initial;
  background: none;
}
.chain-newest-block-container .chain-newest-block-list {
  overflow-y: scroll;
}
.chain-newest-block-container .chain-newest-block-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-sizing: initial;
  padding: 0;
  margin: 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
}
.chain-newest-block-container .chain-newest-block-title .chain-newest-block-title-item {
  float: left;
}
.chain-newest-block-container .chain-newest-block-title .chain-newest-block-title-item:nth-of-type(1) {
  width: 20%;
  text-align: left;
  text-indent: 0.5rem;
  padding-left: 10px;
}
.chain-newest-block-container .chain-newest-block-title .chain-newest-block-title-item:nth-of-type(2) {
  width: 20%;
}
.chain-newest-block-container .chain-newest-block-title .chain-newest-block-title-item:nth-of-type(3) {
  width: 20%;
}
.chain-newest-block-container .chain-newest-block-title .chain-newest-block-title-item:nth-of-type(4) {
  width: 20%;
}
.chain-newest-block-container .chain-newest-block-title .chain-newest-block-title-item:nth-of-type(5) {
  width: 20%;
}
.chain-newest-block-container .chain-newest-mine-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: left;
  box-sizing: initial;
  padding: 0;
  margin: 0;
  color: #cccccc;
  background: initial;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding-left: 10px;
  text-indent: 0.5rem;
}
.chain-newest-block-container .chain-newest-all-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: left;
  box-sizing: initial;
  padding: 0;
  margin: 0;
  color: #cccccc;
  background: initial;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding-left: 10px;
  text-indent: 0.5rem;
}
.chain-newest-block-container .chain-newest-block-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  position: initial;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
}
.chain-newest-block-container .chain-newest-block-item .chain-hash-detail {
  width: 96%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: initial;
  background: none;
  position: absolute;
  left: 2%;
  top: -40px;
  padding-left: 20px;
  background: #ffffff;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transform: translateY(40px);
  -webkit-filter: drop-shadow(-5px 0 15px rgba(0, 0, 0, 0.5));
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.chain-newest-block-container .chain-newest-block-item .chain-hash-detail:hover {
  opacity: 1;
  transform: translateY(0px);
}
.chain-newest-block-container .chain-newest-block-item .chain-hash-detail .down-trig {
  position: absolute;
  top: 40px;
  left: 15px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.chain-newest-block-container .chain-newest-block-item .chain-newest-block-content {
  width: 100%;
  height: 50px;
  line-height: 30px;
  padding: 5px 10px;
  margin: 0px 0;
  box-sizing: border-box;
  position: initial;
  background: none;
}
.chain-newest-block-container .chain-newest-block-item .chain-newest-block-content .chain-newest-block-content-item {
  float: left;
  font-family: inherit;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 200;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: center;
  margin: initial;
}
.chain-newest-block-container .chain-newest-block-item .chain-newest-block-content .chain-newest-block-content-item:nth-of-type(1) {
  width: 20%;
  text-decoration: underline;
  text-align: left;
  text-indent: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.chain-newest-block-container .chain-newest-block-item .chain-newest-block-content .chain-newest-block-content-item:nth-of-type(2) {
  width: 20%;
}
.chain-newest-block-container .chain-newest-block-item .chain-newest-block-content .chain-newest-block-content-item:nth-of-type(3) {
  width: 20%;
}
.chain-newest-block-container .chain-newest-block-item .chain-newest-block-content .chain-newest-block-content-item:nth-of-type(4) {
  width: 20%;
}
.chain-newest-block-container .chain-newest-block-item .chain-newest-block-content .chain-newest-block-content-item:nth-of-type(5) {
  width: 20%;
}
.chain-newest-block-container .chain-newest-block-item .chain-newest-block-content .chain-newest-block-more {
  width: 100%;
  text-align: center;
  color: #fff;
}
.chain-newest-block-container .chain-newest-block-item .chain-newest-my-block-list .chain-newest-block-content {
  margin-top: 0;
}
.chain-newest-block-container .chain-newest-block-item:nth-of-type(odd) {
  background: rgba(200, 200, 200, 0.1);
}
.chain-newest-block-container .chain-newest-block-item:nth-of-type(even) {
  background: rgba(100, 100, 100, 0.05);
}
/*
trade-detail
 */
.trade-detail-space {
  height: 20px;
}
.trade-detail-container {
  margin-top: 0px;
}
.trade-detail-container .trade-detail-list li.trade-detail-item {
  clear: both;
  width: 100%;
  height: 50px;
  line-height: initial;
  padding: 10px;
  margin: 1px 0 0 0;
  position: initial;
  background: rgba(155, 155, 155, 0.05);
}
.trade-detail-container .trade-detail-list li.trade-detail-item .trade-detail-name {
  width: 25%;
  font-family: inherit;
  font-size: 1.4rem;
  color: #eeeeee;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: initial;
  margin: initial;
  line-height: 30px;
  text-align: left;
  float: left;
}
.trade-detail-container .trade-detail-list li.trade-detail-item .trade-detail-content {
  font-family: inherit;
  font-size: 1.3rem;
  color: #999999;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: initial;
  margin: initial;
  float: left;
  width: 75%;
  text-align: right;
  line-height: 30px;
}
.trade-detail-container .trade-detail-list li.trade-detail-item .trade-detail-content.trade-detail-blob {
  line-height: 15px;
  font-size: 1.1rem;
}
.trade-detail-container .trade-detail-list li.trade-detail-item .trade-detail-content.trade-detail-address {
  font-size: 1.1rem;
}
.trade-detail-container .trade-detail-list li.trade-detail-item-divide-space {
  margin: 20px 0;
}
.trade-detail-container .trade-detail-list li.trade-detail-textarea-container .trade-detail-textarea {
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  background: rgba(155, 155, 155, 0.05);
  border: none;
  color: #aaa;
  font-size: 1.4rem;
  line-height: 2rem;
}
/**
block-detail
 */
.block-detail-space {
  height: 20px;
}
.block-detail-container {
  width: 100%;
}
.block-detail-container .block-detail-list li.block-detail-item {
  width: 100%;
  height: 50px;
  line-height: 30px;
  padding: 10px;
  margin: 1px 0 0 0;
  box-sizing: border-box;
  position: initial;
  background: rgba(155, 155, 155, 0.05);
}
.block-detail-container .block-detail-list li.block-detail-item span.block-detail-name {
  float: left;
  font-family: inherit;
  font-size: 1.4rem;
  color: #eeeeee;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: initial;
  margin: initial;
}
.block-detail-container .block-detail-list li.block-detail-item span.block-detail-value {
  float: right;
  font-family: inherit;
  font-size: 1.2rem;
  color: #999999;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: initial;
  margin: initial;
}
.block-detail-container .block-detail-list li.block-detail-item span.block-detail-value.block-detail-code {
  width: 80%;
  line-height: 1rem;
  font-size: 1rem;
}
.block-detail-container .block-detail-list li.block-detail-item-divide {
  margin: 10px 0;
}
.block-more-container {
  /*.all-t-moreitle {
    .text-box(@w: 100%; @h: 40px; @lh: 40px; @c: #ccc; @align: left; @fontSize: 1.2rem;);
    letter-spacing: 1px;
    padding-left:10px;
    text-indent: 0.5rem;
  }*/
}
.block-more-container .block-more-list {
  overflow-y: scroll;
}
.block-more-container .block-more-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-sizing: initial;
  padding: 0;
  margin: 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
}
.block-more-container .block-more-title .block-more-title-item {
  float: left;
}
.block-more-container .block-more-title .block-more-title-item:nth-of-type(1) {
  width: 20%;
  text-align: left;
  text-indent: 0.5rem;
  padding-left: 10px;
}
.block-more-container .block-more-title .block-more-title-item:nth-of-type(2) {
  width: 20%;
}
.block-more-container .block-more-title .block-more-title-item:nth-of-type(3) {
  width: 20%;
}
.block-more-container .block-more-title .block-more-title-item:nth-of-type(4) {
  width: 20%;
}
.block-more-container .block-more-title .block-more-title-item:nth-of-type(5) {
  width: 20%;
}
.block-more-container .block-more-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  position: initial;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
}
.block-more-container .block-more-item .chain-hash-detail {
  width: 96%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: initial;
  background: none;
  position: absolute;
  left: 2%;
  top: -40px;
  padding-left: 20px;
  background: #ffffff;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transform: translateY(40px);
  -webkit-filter: drop-shadow(-5px 0 15px rgba(0, 0, 0, 0.5));
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.block-more-container .block-more-item .chain-hash-detail:hover {
  opacity: 1;
  transform: translateY(0px);
}
.block-more-container .block-more-item .chain-hash-detail .down-trig {
  position: absolute;
  top: 40px;
  left: 15px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.block-more-container .block-more-item .block-more-content {
  width: 100%;
  height: 50px;
  line-height: 30px;
  padding: 5px 10px;
  margin: 0px 0;
  box-sizing: border-box;
  position: initial;
  background: none;
}
.block-more-container .block-more-item .block-more-content .block-more-content-item {
  float: left;
  font-family: inherit;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 200;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: center;
  margin: initial;
}
.block-more-container .block-more-item .block-more-content .block-more-content-item:nth-of-type(1) {
  width: 20%;
  text-decoration: underline;
  text-align: left;
  text-indent: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.block-more-container .block-more-item .block-more-content .block-more-content-item:nth-of-type(2) {
  width: 20%;
}
.block-more-container .block-more-item .block-more-content .block-more-content-item:nth-of-type(3) {
  width: 20%;
}
.block-more-container .block-more-item .block-more-content .block-more-content-item:nth-of-type(4) {
  width: 20%;
}
.block-more-container .block-more-item .block-more-content .block-more-content-item:nth-of-type(5) {
  width: 20%;
}
.block-more-container .block-more-item .block-more-content .block-more-more {
  width: 100%;
  text-align: center;
  color: #fff;
}
.block-more-container .block-more-page {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  position: initial;
  background: rgba(100, 100, 100, 0.1);
  margin-top: 5px;
  position: relative;
  text-align: center;
}
.block-more-container .block-more-page .block-more-page-prev {
  width: 40%;
  float: left;
  color: #fff;
  box-sizing: border-box;
}
.block-more-container .block-more-page .block-more-page-show {
  width: 20%;
  text-align: center;
  color: #fff;
  background: rgba(200, 200, 200, 0.1);
  float: left;
}
.block-more-container .block-more-page .block-more-page-next {
  width: 40%;
  float: right;
  color: #fff;
}
