/**
 * Created by 俊杰 on 2017/7/19.
 */
/*
	定义通用变量
*/
/*
	定义通用class
*/
.bg-lighter {
  background: rgba(255, 255, 255, 0.1);
}
.bg-darker {
  background: rgba(0, 0, 0, 0.1);
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.lighter {
  -webkit-filter: brightness(1.5);
}
.center {
  margin: 0 auto;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.b {
  display: block;
}
.ib {
  display: inline-block;
}
.v-center {
  top: 50%;
  transform: translateY(-50%);
}
.h-center {
  left: 50%;
  transform: translateX(-50%);
}
.h-center-flex {
  display: flex;
  justify-content: center;
}
.ls1 {
  letter-spacing: 1px;
}
.bb {
  box-sizing: border-box;
}
.fix {
  *zoom: 1;
}
.fix:after,
.fix:before {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.z {
  _zoom: 1;
}
.clearfloat {
  clear: both;
}
.text-middle {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
/**
 * 定义ionicpopup样式
 */
.popup-container .popup {
  border-radius: 15px;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.popup-container .popup .popup-head {
  padding: 5px 10px;
  padding-top: 15px;
}
.popup-container .popup .popup-head .popup-title {
  font-size: 2.0rem;
}
.popup-container .popup .popup-body {
  text-align: center;
}
.popup-container .popup .popup-body span,
.popup-container .popup .popup-body h4,
.popup-container .popup .popup-body h5,
.popup-container .popup .popup-body div {
  font-size: 1.4rem;
  color: #333;
  margin: 5px 0;
}
.popup-container .popup .popup-body input {
  margin-bottom: 5px;
}
.popup-container .popup .popup-buttons {
  padding: 0;
  min-height: 30px;
}
.popup-container .popup .popup-buttons button {
  margin: 0;
}
.popup-container .popup .popup-buttons button:first-child {
  border-bottom-left-radius: 15px;
}
.popup-container .popup .popup-buttons button:last-child {
  border-bottom-right-radius: 15px;
}
.home-bg-btm {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.ifc-smoke {
  position: absolute;
  height: 190px;
  width: 100%;
  top: -20px;
  z-index: -1;
}
.ifc-smoke img {
  width: 100%;
  height: 260px;
}
.ifc-title {
  font-family: inherit;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: 2px;
  text-align: center;
  margin: 20px 0 0 0;
}
.ifc-price-container {
  width: 100%;
  height: 230px;
  line-height: 2rem;
  padding: 1.5rem 0 0 0;
  margin: 0;
  position: relative;
  background: none;
  background: url('../../images/ifmt/home/wave.png') no-repeat center bottom;
  background-size: 100% 40%;
}
.ifc-current-price-container {
  width: 100%;
  height: auto;
  line-height: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 3.5rem 0 0 0;
  margin: 0;
  color: initial;
  background: initial;
  font-size: inherit;
}
.ifc-icon-a,
.ifc-icon-up {
  width: 20px;
  margin-right: 10px;
}
.ifc-current-price {
  font-family: inherit;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 500;
  text-indent: 0em;
  letter-spacing: 2px;
  text-align: initial;
  margin: initial;
}
.ifc-current-price-unit {
  font-family: inherit;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 200;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: initial;
  margin: initial;
  margin-left: 3px;
}
.ifc-current-coin-container {
  width: auto;
  height: auto;
  line-height: auto;
  text-align: center;
  box-sizing: initial;
  padding: 0;
  margin: 1rem 0 0 0;
  color: #ffffff;
  background: initial;
  font-size: 1.2rem;
}
.ifc-current-coin-container span {
  font-family: inherit;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: 1px;
  text-align: initial;
  margin: initial;
}
.ifc-coin-name {
  font-family: inherit;
  font-size: inherit;
  color: initial;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: 2px;
  text-align: initial;
  margin: initial;
  margin-right: 10px;
}
.ifc-trade-grid {
  width: 100%;
}
.ifc-trade-grid.row {
  padding: 0;
}
.myGrid {
  width: 100%;
}
.ifmc-release {
  width: 100%;
  height: 70%;
  line-height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: initial;
  background: none;
}
.ifmc-info {
  width: 100%;
  height: 30%;
  line-height: 30%;
  padding: 0;
  margin: 0;
  position: initial;
  background: none;
}
.ifm-grid-title {
  position: absolute;
  width: auto;
  height: auto;
  left: 0px;
  right: initial;
  top: initial;
  bottom: 0px;
  margin: 0;
  padding: 0;
  background: initial;
  font-family: inherit;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: 1px;
  text-align: initial;
  margin: initial;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ccc;
}
.ifm-grid-title.ifm-grid-trade {
  width: 50%;
}
.ifm-grid-title.ifm-grid-benefit {
  width: 50%;
  left: 50%;
}
.ifm-grid-title.ifm-grid-selected {
  background: rgba(166, 166, 166, 0.1);
  color: #fff;
}
.ifc-trade-grid .ifc-trade-table {
  overflow-y: scroll;
}
.ifc-trade-grid .ifc-trade-table-head {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
  position: initial;
  background: rgba(166, 166, 166, 0.1);
}
.ifc-trade-grid .ifc-trade-table-head li {
  float: left;
  font-family: inherit;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: initial;
  margin: initial;
}
.ifc-trade-grid .ifc-trade-table-head .ifc-trade-table-title-type {
  text-align: center;
}
.ifc-trade-grid .ifc-trade-table-head .ifc-trade-table-title-address {
  width: 55%;
  text-align: left;
  padding-left: 10px;
}
.ifc-trade-grid .ifc-trade-table-head .ifc-trade-table-title-time {
  width: 30%;
  text-align: left;
}
.ifc-trade-grid .ifc-trade-table-head .ifc-trade-table-title-amount {
  width: 15%;
}
.ifc-trade-grid .ifc-trade-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 8px 0;
  position: initial;
  background: rgba(100, 100, 100, 0.1);
  position: relative;
  transition: height 0.5s ease;
}
.ifc-trade-grid .ifc-trade-item div {
  float: left;
  color: #fff;
  font-size: 1.2rem;
  font-weight: thin;
}
.ifc-trade-grid .ifc-trade-item .ifc-trade-item-type {
  width: 15%;
  text-align: center;
  font-weight: 200;
}
.ifc-trade-grid .ifc-trade-item .ifc-trade-item-address {
  width: 85%;
  font-size: 1.2rem;
  padding-left: 10px;
}
.ifc-trade-grid .ifc-trade-item .ifc-trade-item-address:after {
  content: '〉';
  font-family: "宋体";
  font-size: 1.2rem;
  float: right;
  margin-top: 2px;
  margin-right: 1rem;
}
.ifc-trade-grid .ifc-trade-item .ifc-trade-amount {
  width: 15%;
}
.ifc-trade-grid .ifc-trade-item .ifc-trade-time {
  height: 0px;
  bottom: 40px;
  width: 70%;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 1.1rem;
  position: absolute;
  opacity: 0;
  color: #ccc;
  transition: opacity 0.6s ease;
  /*&.ifc-trade-time-show {
      display: block;
      opacity: 1;
      height: 30px;
      }*/
}
.ifc-trade-grid .ifc-trade-item .ifc-trade-fee {
  bottom: 40px;
  width: 30%;
  left: 70%;
  height: 0px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 1.1rem;
  position: absolute;
  opacity: 0;
  color: #ccc;
  transition: opacity 0.6s ease;
}
.ifc-trade-grid .ifc-trade-item.ifc-trade-show-time {
  height: 80px;
}
.ifc-trade-grid .ifc-trade-item.ifc-trade-show-time .ifc-trade-time {
  bottom: 10px;
  opacity: 1;
  height: 30px;
}
.ifc-trade-grid .ifc-trade-item.ifc-trade-show-time .ifc-trade-fee {
  bottom: 10px;
  opacity: 1;
  height: 30px;
}
.ifc-trade-grid .ifc-trade-item .ifc-trade-more-btn {
  width: 100%;
  text-align: center;
  background: rgba(200, 200, 200, 0.2);
}
.ifc-benefit-grid .ifc-benefit-table-head {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
  position: initial;
  background: rgba(166, 166, 166, 0.1);
}
.ifc-benefit-grid .ifc-benefit-table-head li {
  float: left;
  font-family: inherit;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: initial;
  margin: initial;
}
.ifc-benefit-grid .ifc-benefit-table-head .ifc-benefit-table-title-name {
  padding-left: 10px;
  width: 20%;
}
.ifc-benefit-grid .ifc-benefit-table-head .ifc-benefit-table-title-address {
  width: 20%;
}
.ifc-benefit-grid .ifc-benefit-table-head .ifc-benefit-table-title-time {
  width: 20%;
}
.ifc-benefit-grid .ifc-benefit-table-head .ifc-benefit-table-title-amount {
  width: 15%;
}
.ifc-benefit-grid .ifc-benefit-table-head .ifc-benefit-table-title-type {
  width: 25%;
}
.ifc-benefit-grid .ifc-benefit-table {
  overflow-y: scroll;
}
.ifc-benefit-grid .ifc-benefit-table .ifc-benefit-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 8px 0;
  position: initial;
  background: rgba(100, 100, 100, 0.1);
  position: relative;
  transition: height 0.5s ease;
}
.ifc-benefit-grid .ifc-benefit-table .ifc-benefit-item div {
  float: left;
  color: #fff;
  font-size: 1.2rem;
}
.ifc-benefit-grid .ifc-benefit-table .ifc-benefit-item .ifc-benefit-item-name {
  width: 40%;
  padding-left: 10px;
}
.ifc-benefit-grid .ifc-benefit-table .ifc-benefit-item .ifc-benefit-item-time {
  width: 20%;
}
.ifc-benefit-grid .ifc-benefit-table .ifc-benefit-item .ifc-benefit-item-amount {
  width: 15%;
}
.ifc-benefit-grid .ifc-benefit-table .ifc-benefit-item .ifc-benefit-item-type {
  width: 25%;
}
.ifc-benefit-grid .ifc-benefit-table .ifc-benefit-item .ifc-benefit-item-address {
  width: 55%;
  padding-left: 10px;
  display: none;
}
.ifc-benefit-grid .ifc-benefit-table .ifc-benefit-item .ifc-benefit-item-address.ifc-benefit-address-show {
  display: block;
}
.ifc-benefit-grid .ifc-benefit-table .ifc-benefit-more-btn {
  width: 100%;
  text-align: center;
  background: rgba(200, 200, 200, 0.2);
}
.trade-more-grid .trade-more-table-head {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
  position: initial;
  background: rgba(166, 166, 166, 0.1);
}
.trade-more-grid .trade-more-table-head li {
  float: left;
  font-family: inherit;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: initial;
  margin: initial;
}
.trade-more-grid .trade-more-table-head .trade-more-table-title-type {
  text-align: center;
}
.trade-more-grid .trade-more-table-head .trade-more-table-title-address {
  width: 55%;
  text-align: left;
  padding-left: 10px;
}
.trade-more-grid .trade-more-table-head .trade-more-table-title-time {
  width: 30%;
  text-align: left;
}
.trade-more-grid .trade-more-table-head .trade-more-table-title-amount {
  width: 15%;
}
.trade-more-grid .trade-more-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 8px 0;
  position: initial;
  background: rgba(100, 100, 100, 0.1);
  position: relative;
  transition: height 0.5s ease;
}
.trade-more-grid .trade-more-item div {
  float: left;
  color: #fff;
  font-size: 1.2rem;
  font-weight: thin;
}
.trade-more-grid .trade-more-item .trade-more-item-type {
  width: 15%;
  text-align: center;
  font-weight: 200;
}
.trade-more-grid .trade-more-item .trade-more-item-address {
  width: 85%;
  font-size: 1.2rem;
  padding-left: 10px;
}
.trade-more-grid .trade-more-item .trade-more-item-address:after {
  content: '〉';
  font-family: "宋体";
  font-size: 1.2rem;
  float: right;
  margin-top: 2px;
  margin-right: 1rem;
}
.trade-more-grid .trade-more-item .trade-more-amount {
  width: 15%;
}
.trade-more-grid .trade-more-item .trade-more-time {
  height: 0px;
  bottom: 40px;
  width: 70%;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 1.1rem;
  position: absolute;
  opacity: 0;
  color: #ccc;
  transition: opacity 0.6s ease;
  /*&.trade-more-time-show {
      display: block;
      opacity: 1;
      height: 30px;
      }*/
}
.trade-more-grid .trade-more-item .trade-more-fee {
  bottom: 40px;
  width: 30%;
  left: 70%;
  height: 0px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 1.1rem;
  position: absolute;
  opacity: 0;
  color: #ccc;
  transition: opacity 0.6s ease;
}
.trade-more-grid .trade-more-item.trade-more-show-time {
  height: 80px;
}
.trade-more-grid .trade-more-item.trade-more-show-time .trade-more-time {
  bottom: 10px;
  opacity: 1;
  height: 30px;
}
.trade-more-grid .trade-more-item.trade-more-show-time .trade-more-fee {
  bottom: 10px;
  opacity: 1;
  height: 30px;
}
.trade-more-grid .trade-more-page {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  position: initial;
  background: rgba(100, 100, 100, 0.1);
  margin-top: 5px;
  position: relative;
  text-align: center;
}
.trade-more-grid .trade-more-page .trade-more-page-prev {
  width: 40%;
  float: left;
  color: #fff;
  box-sizing: border-box;
}
.trade-more-grid .trade-more-page .trade-more-page-show {
  width: 20%;
  text-align: center;
  color: #fff;
  background: rgba(200, 200, 200, 0.1);
  float: left;
}
.trade-more-grid .trade-more-page .trade-more-page-next {
  width: 40%;
  float: right;
  color: #fff;
}
.benefit-more-grid .benefit-more-table-head {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
  position: initial;
  background: rgba(166, 166, 166, 0.1);
}
.benefit-more-grid .benefit-more-table-head li {
  float: left;
  font-family: inherit;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: initial;
  text-indent: 0em;
  letter-spacing: initial;
  text-align: initial;
  margin: initial;
}
.benefit-more-grid .benefit-more-table-head .benefit-more-table-title-name {
  padding-left: 10px;
  width: 25%;
}
.benefit-more-grid .benefit-more-table-head .benefit-more-table-title-address {
  width: 15%;
}
.benefit-more-grid .benefit-more-table-head .benefit-more-table-title-time {
  width: 20%;
}
.benefit-more-grid .benefit-more-table-head .benefit-more-table-title-amount {
  width: 15%;
}
.benefit-more-grid .benefit-more-table-head .benefit-more-table-title-type {
  width: 25%;
}
.benefit-more-grid .benefit-more-table {
  overflow-y: scroll;
}
.benefit-more-grid .benefit-more-table .benefit-more-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 8px 0;
  position: initial;
  background: rgba(100, 100, 100, 0.1);
  position: relative;
  transition: height 0.5s ease;
}
.benefit-more-grid .benefit-more-table .benefit-more-item div {
  float: left;
  color: #fff;
  font-size: 1.2rem;
}
.benefit-more-grid .benefit-more-table .benefit-more-item .benefit-more-item-name {
  width: 40%;
  padding-left: 10px;
}
.benefit-more-grid .benefit-more-table .benefit-more-item .benefit-more-item-time {
  width: 20%;
}
.benefit-more-grid .benefit-more-table .benefit-more-item .benefit-more-item-amount {
  width: 15%;
}
.benefit-more-grid .benefit-more-table .benefit-more-item .benefit-more-item-type {
  width: 25%;
}
.benefit-more-grid .benefit-more-table .benefit-more-item .benefit-more-item-address {
  width: 55%;
  padding-left: 10px;
  display: none;
}
.benefit-more-grid .benefit-more-table .benefit-more-item .benefit-more-item-address.benefit-more-address-show {
  display: block;
}
.benefit-more-grid .benefit-more-page {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  position: initial;
  background: rgba(100, 100, 100, 0.1);
  margin-top: 5px;
  position: relative;
  text-align: center;
}
.benefit-more-grid .benefit-more-page .benefit-more-page-prev {
  width: 40%;
  float: left;
  color: #fff;
  box-sizing: border-box;
}
.benefit-more-grid .benefit-more-page .benefit-more-page-show {
  width: 20%;
  text-align: center;
  color: #fff;
  background: rgba(200, 200, 200, 0.1);
  float: left;
}
.benefit-more-grid .benefit-more-page .benefit-more-page-next {
  width: 40%;
  float: right;
  color: #fff;
}
