/*
	定义通用变量
*/
/*
	定义通用class
*/
.bg-lighter {
  background: rgba(255, 255, 255, 0.1);
}
.bg-darker {
  background: rgba(0, 0, 0, 0.1);
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.lighter {
  -webkit-filter: brightness(1.5);
}
.center {
  margin: 0 auto;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.b {
  display: block;
}
.ib {
  display: inline-block;
}
.v-center {
  top: 50%;
  transform: translateY(-50%);
}
.h-center {
  left: 50%;
  transform: translateX(-50%);
}
.h-center-flex {
  display: flex;
  justify-content: center;
}
.ls1 {
  letter-spacing: 1px;
}
.bb {
  box-sizing: border-box;
}
.fix {
  *zoom: 1;
}
.fix:after,
.fix:before {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.z {
  _zoom: 1;
}
.clearfloat {
  clear: both;
}
.text-middle {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
/**
 * 定义ionicpopup样式
 */
.popup-container .popup {
  border-radius: 15px;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.popup-container .popup .popup-head {
  padding: 5px 10px;
  padding-top: 15px;
}
.popup-container .popup .popup-head .popup-title {
  font-size: 2.0rem;
}
.popup-container .popup .popup-body {
  text-align: center;
}
.popup-container .popup .popup-body span,
.popup-container .popup .popup-body h4,
.popup-container .popup .popup-body h5,
.popup-container .popup .popup-body div {
  font-size: 1.4rem;
  color: #333;
  margin: 5px 0;
}
.popup-container .popup .popup-body input {
  margin-bottom: 5px;
}
.popup-container .popup .popup-buttons {
  padding: 0;
  min-height: 30px;
}
.popup-container .popup .popup-buttons button {
  margin: 0;
}
.popup-container .popup .popup-buttons button:first-child {
  border-bottom-left-radius: 15px;
}
.popup-container .popup .popup-buttons button:last-child {
  border-bottom-right-radius: 15px;
}
