<ion-view id="contactUser" view-title="" class="usual-background animated" hide-tabs="true" ng-controller="contactUserCtrl">
  <ion-nav-bar class="navbar-bg bar-transparent">
    <ion-nav-buttons side="left">
      <a href="#/account/contact" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
    <!-- <ion-nav-buttons side="right">
      <a href="#/account" class="nav-right-btn suggest-submit-btn submit-active">删除</a>
      javascript:history.back(-1)
    </ion-nav-buttons> -->
  </ion-nav-bar>
  <ion-content>
    <div class="contact-user-container">
      <div class="contact-user-head-container">
        <!-- <div class="contact-user-head">
          <img src="" alt="" class="contact-user-head-pic">
        </div> -->

        <div class="contact-user-name">{{'Username' | translate}} : {{contactDetail.username}}</div>
        <div class="contact-user-address-container">
          <h4 class="contact-user-address-title">
            {{'Address' | translate}}
          </h4>
          <div class="contact-user-address">
            {{contactDetail.address}}
          </div>
        </div>

        

        <div class="contact-transfer-container">
          <div class="contact-transfer-amount-container">
            <div class="contact-transfer-amount-content">
              <input type="number" class="contact-transfer-amount-input" ng-model="contact.contactAmount" placeholder="{{'Please enter transfer amount' | translate}}" />
              <span class="contact-transfer-amount-unit">IBT</span>
            </div>
            <div class="contact-transfer-fee-total">{{'Available Quantity' | translate}} :{{balance}}</div>
            <div class="contact-transfer-fee-container">
            <!-- 收取{{fee*100000000 | noEulerNumberFilter}}手续费<a class="contact-transfer-fee-setting" href="#/account/fee">点击设置</a> -->
              <input type="number" class="contact-transfer-fee-setting" placeholder="{{'FEE' | translate}}" ng-model="contact.fee">
            </div>
            
          </div>
        </div>
        
        <div class="contact-user-transfer-btn-group">
          <div class="contact-user-transfer-btn" ng-click="submitTransfer()">{{'Transfer' | translate}}</div>
          <div class="contact-user-transfer-record-btn">查看历史交易</div>
        </div>
      </div>

      <div class="clearfloat"></div>

      <div class="contact-user-trade-container" ng-hide="true">
        <div class="contact-user-trade-title">历史交易记录</div>

        <div class="contact-user-trade-table">
          <ul class="contact-user-trade-table-title">
            <li class="contact-user-trade-table-title-item">时间</li>
            <li class="contact-user-trade-table-title-item">数量</li>
            <li class="contact-user-trade-table-title-item">手续费</li>
            <li class="contact-user-trade-table-title-item">块高度</li>
          </ul>

          <div class="contact-user-trade-table-items">
            <ul class="contact-user-trade-table-item" ng-repeat="ct in contactTransactions">
              <li class="contact-user-trade-table-item-item">{{ct.timestamp | timestampFilter}}</li>
              <li class="contact-user-trade-table-item-item">{{ct.amountFixed}}</li>
              <li class="contact-user-trade-table-item-item">{{ct.fee | noEulerNumberFilter}}</li>
              <li class="contact-user-trade-table-item-item">{{ct.height}}</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
