<ion-view view-title="{{'Add contact person' | translate}}" class="usual-background animated" hide-tabs="true" ng-controller="addContactCtrl">
  <ion-nav-bar class="navbar-bg bar-transparent">
    <ion-nav-buttons side="left">
      <a href="#/account/contact" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a href="#/account" class="nav-right-btn suggest-submit-btn submit-active"></a>
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="contact-add-container">
      <div class="contact-add-title">
        {{'Address' | translate}}
      </div>
      <div class="contact-add-address-container">
        <input type="text" class="contact-add-address-input" ng-model="contact.addAddress" placeholder="{{'Enter address or scan address barcode' | translate}}" />
        <img class="contact-add-address-scan" ng-click="scanAddress()" src="../images/ifmt/pay/scan.png" />
      </div>

      <div class="contact-add-submit-btn" ng-click="addContact()">{{'Add as Contact' | translate}}</div>
    </div>
  </ion-content>
</ion-view>
