<ion-view view-title="{{'Default Fee' | translate}}" class="usual-background animated slide-in-right" hide-tabs="true" ng-controller="feeCtrl">
  <ion-nav-bar class="navbar-bg bar-transparent">
    <ion-nav-buttons side="left">
      <a href="javascript:history.go(-1)" class="nav-cancel-btn" nav-direction="back">{{'CANCEL' | translate}}</a>
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="nav-right-btn suggest-submit-btn submit-active" ng-click="setFee()">{{'Save' | translate}}</a>
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="fee-container">
      <input type="number" class="fee-config-input" ng-model="userData.currentFee" placeholder="{{'Please enter transaction fee: >= 0.00000001' | translate}}" />

      <span class="fee-config-tips">
        {{'The fee must greater or equal than 0.00000001 and less than max-fee in settings' | translate}}
      </span>
    </div>
  </ion-content>
</ion-view>
