<ion-view view-title="{{'Upper limit of Fee' | translate}}" class="usual-background animated" hide-tabs="true" ng-controller="feeMaxCtrl">
  <ion-nav-bar class="navbar-bg bar-transparent">
    <ion-nav-buttons side="left">
      <a href="#/account/settings" class="nav-cancel-btn" nav-direction="back">{{'CANCEL' | translate}}</a>
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="nav-right-btn suggest-submit-btn submit-active" ng-click="updateMaxFee($event, false)">{{'Save' | translate}}</a>
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="fee-max-container">
      <input type="number" class="fee-max-config-input" ng-model="feeOpt.maxFee" ng-keyup="updateMaxFee($event, true)" placeholder="{{'Please enter upper limit fee: > default fee' | translate}}" />

      <span class="fee-max-config-tips">
        {{'The upper limit of fee must greater than default fee and less than all your available IBT' | translate}}
      </span>
    </div>
  </ion-content>
</ion-view>
