<ion-view view-title="{{'Username' | translate}}" class="usual-background animated" hide-tabs="true" ng-controller="nameSettingCtrl">
  <ion-nav-bar class="navbar-bg bar-transparent">
    <ion-nav-buttons side="left">
      <a href="#/account" class="button button-icon name-back-button">{{'Back' | translate}}</a>
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="nav-right-btn suggest-submit-btn submit-active" ng-click="editName()">{{'Save' | translate}}</a>
      <!--javascript:history.back(-1)-->
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="name-setting-container">
      <input type="text" class="name-setting-input" ng-show="username === ''" placeholder="{{'Please set your username.' | translate}}" ng-keyup="editUsername()" ng-model="nameOpt.newUsername" />
      <input type="text" class="name-setting-input" ng-if="username !== ''" placeholder="{{'Account already has a username' | translate}}" disabled="{{username !== ''}}" ng-model="nameOpt.newUsername" />
      <!-- placeholder="请输入用户名，只能修改一次" -->

      <span class="name-setting-tip">{{'Use your default fee' | translate}} :{{fee}}<a href="#/account/fee">{{'Click to set' | translate}}</a></span>
    </div>
  </ion-content>
</ion-view>
