<ion-view view-title="{{'Settings' | translate}}" class="usual-background animated" hide-tabs="true" ng-controller="settingsCtrl">
    <ion-nav-bar class="navbar-bg bar-transparent">
        <ion-nav-buttons side="left">
            <a ui-sref="tabs.account" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
            <!--javascript:history.back(-1)-->
        </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a href="#/account" class="nav-right-btn suggest-submit-btn submit-active"></a>
        <!--javascript:history.back(-1)-->
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
      <div class="setting-container">
        <!-- <div class="settings-option">
            <span>{{'Auto-Forging' | translate}}</span>
            <label class="toggle toggle-assertive pull-right" ng-click="switchDig()">
                <input type="checkbox" ng-model="settingOpt.autoDigSwitch">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <div class="settings-option-tip">
          <span>{{'Enable Auto-Forging on this account' | translate}}</span>
        </div> -->

        <div class="settings-option">
            <span>{{'FEE' | translate}}</span>
            <a href="#/account/fee"><span>{{fee*100000000 | noEulerNumberFilter}}<small class="setting-fee-unit">IBT</small><i class="icon-right ion-chevron-right"></i></span></a>
        </div>
        <div class="settings-option-tip">
          <span>{{'Set your default fee in Auto-Forging, modify profile, payment or another function' | translate}}</span>
        </div>

        <div class="settings-option">
            <a href="#/account/maxFee"><span>{{'Upper limit of Fee' | translate}}</span>
            <span>{{maxFee*100000000 | noEulerNumberFilter}}<small class="setting-fee-unit">IBT</small><i class="icon-right ion-chevron-right"></i></span></a>
        </div>
        <div class="settings-option-tip">
          <span>{{'Set your upper limit of fee in Auto-Forging, modify profile, payment or another function' | translate}}</span>
        </div>

        <div class="settings-option">
            <a href="#/account/secondSignature"><span>{{'Add second passphrase' | translate}}</span>
            <span><i class="icon-right ion-chevron-right"></i></span></a>
        </div>
        <div class="settings-option-tip">
          <span>{{'Please remember to pay the password and forget to retrieve it and lose the balance' | translate}}</span>
        </div>

        <div class="settings-option">
          <div class="settings-exit-container">
              <a href="../index.html" ng-click="exit()"><div class="settings-exit-btn">
                  {{'Logout' | translate}}
              </div></a>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
